ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
  li a{
    height: 23.5rem;
    width: 25rem;
    border: 1px solid rgb(26, 30, 50);
    border-radius: 1rem;
    /* margin: 0.5rem; */
    margin-top:0.2rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: black;
    text-decoration-style: none;
  
  }
  .adress {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight:300;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  .adress p {
    margin: 0;
  }
  
  li a:hover{
    opacity: 0.8;
    cursor: pointer;
    color: rgb(4, 21, 32);
  }
  
  li a img{
    object-fit: cover;
    height: 16.5rem;
  }
  
  .content{
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
    text-decoration-style: none;
  }
  
  .favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
  }
  
  .favorite.not{
    color: grey;
  }
  

  
  .product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .origins{
    flex: 9;
  }
  
  .origins span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color: grey;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
  }
  
  .cook-time{
    font-size: 0.9rem;
    flex: 3;
    text-align: right;
  }
  
  .price{
    position: absolute;
    bottom: 0;
    left: 0.9rem;
    background: white;
    padding: 0.3rem 100% 0 0;
    color: #414141;
    margin-top: 0.7rem;
    font-size: 1.1rem;
  }
  .adress {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  
  .adress p {
    margin: 0;
  }
  

  .phone {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #333;
   
  }
  
  .phone p {
    margin: 0;
  }
  

  /* search............ */
  div{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  
  input{
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 20rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
  }
  
  div button{
    color: grey;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: #e72929;
    color: white;
    opacity: 0.8;
    outline: none;
  }
  
  div button:hover{
    opacity: 1;
    cursor: pointer;
  }